{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}Login{% endblock %}

{% block content %}
    <div style="margin-top:6%" class="row">
        <div class="col-lg-4 col-sm-2"></div>
        <div class="col-lg-4 col-sm-8">
            <h2>Log In</h2>
            <form method="post" autocomplete="off">
                {% csrf_token %}
                <p>
                    <input class="form-control " type="text" name="login" placeholder="Username" autocomplete="username" maxlength="150" required id="id_login">
                </p>
                <p>
                    <input class="form-control" type="password" name="password" placeholder="Password" autocomplete="current-password" required id="id_password">
                </p>
                <button class="btn btn-dark" type="submit">Login</button>
            </form>
        </div>
        <div class="col-lg-4 col-sm-2"></div>
    </div>
{% endblock %}