{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}


{% block title %}Change Password{% endblock %}

{% block content %}
    <div style="margin-top:6%" class="row">
        <div class="col-lg-4 col-sm-2"></div>
        <div class="col-lg-4 col-sm-8">
            <h2>Change password</h2>
            <form method="post" class="password_change" id="signup_form" action="{% url 'account_change_password' %}">
                {% csrf_token %}
                <p>
                    <input class="form-control" type="password" name="oldpassword" placeholder="Current Password" autocomplete="current-password" minlength="8" required id="id_oldpassword">
                </p>
                <p>
                    <input class="form-control" type="password" name="password1" placeholder="New Password" autocomplete="new-password" required id="id_password1">
                </p>
                <p>
                    <input class="form-control" type="password" name="password2" placeholder="New Password (again)" required id="id_password2">
                </p>
                <button class="btn btn-success" type="submit">Change Password</button>
            </form>
                <a href="/accounts/password/reset/" class="btn btn-dark btn-sm">Forgot Password?</a>
        </div>
        <div class="col-lg-4 col-sm-2"></div>
    </div>
{% endblock %}