{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}


{% block title %}Password Reset{% endblock %}

{% block content %}
    <div style="margin-top:6%" class="row">
        <div class="col-lg-3 col-sm-2"></div>
        <div class="col-lg-6 col-sm-8">
            <h2>Reset password</h2>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            <form method="post" class="password_reset" id="signup_form" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <p>
                    <input class="form-control" type="email" name="email" placeholder="E-mail address" autocomplete="email" required id="id_email">
                </p>
                <button class="btn btn-dark" type="submit">{% trans 'Reset Password' %}</button>
            </form>
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
        <div class="col-lg-3 col-sm-2"></div>
    </div>
{% endblock %}