{% extends "base.html" %}
{% load socialaccount %}
{% block title %}my counters{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-1 col-sm-0"></div>
        <div class="col-lg-10 col-sm-12">
            <table class="table table-dark table-hover" style="text-align: center">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>End Date</th>
                        <th></th>
                    </tr>
                </thead>
                {% for counter in object_list %}
                    <tr>
                        <td class="clickableRow" onclick="javascript:window.location.href='{% url 'counter_view' guid=counter.guid %}'">
                            {{ counter.title }}
                        </td>
                        <td class="clickableRow" onclick="javascript:window.location.href='{% url 'counter_view' guid=counter.guid %}'">
                            {{ counter.end_date }}
                        </td>
                        <td id="updateAndDelete">
                            <a href="{% url 'update_view' counter.pk %}" class="btn btn-secondary">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-pk="{% url 'delete_view' counter.pk %}">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="d-flex justify-content-center">
                <a type="button" class="btn btn-success btn-lg" href="{% url 'create_view' %}">Create a counter</a>
            </div>
        </div>
        <div class="col-lg-1 col-sm-0"></div>
    </div>
{% endblock %}