{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}

{% block meta %}
    <meta property="og:title" content="{{ object.title }}">
    <meta name="twitter:title" content="{{ object.title }}">
    <meta property="og:description" content="Count days until events">
    <meta name="twitter:description" content="Count days until events">
    {% if object.image %}
        <meta property="og:image" content="{{ object.image.url }}">
        <meta name="twitter:image" content="{{ object.image.url }}">
    {% else %}
        {% load static %}
        <meta property="og:image" content="{% static 'img/grod.png' %}">
        <meta name="twitter:image" content="{% static 'img/grod.png' %}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block title %}Detail{% endblock %}

{% block content %}
     <div class="row">
        <div class="col-lg-4 col-sm-2"></div>
        <div class="col-lg-4 col-sm-8">
            <div id="detailCard">

                {% if object.image %}
                    {% load static %}
                    <div>
                        <img class="counterImg" src="{{ object.image.url }}" alt="">
                    </div>
                {% endif %}
                <h2 id="daysLeft"></h2>
                <h3 id="timeLeft"></h3>
                <h4 id="until" class="hidden" >until</h4>
                <h2>{{ object.title }}</h2>
                {% if object.is_date_only %}
                    <h4 class="hidden" id="endTime">Ended {{ object.end_date }}</h4>
                {% else %}
                    <h4 class="hidden" id="endTime">Ended {{ object.end_date }} {{ object.end_time }}</h4>
                {% endif %}
                <hr>
            </div>
            <div>
                <button class="btn btn-success btn-lg" onclick="copyShareLink()">{% trans 'Copy share link' %}</button>
                {% if object.user and request.user == object.user %}
                    <span id="updateAndDelete" style="float: right;">
                        <a href="{% url 'update_view' counter.pk %}" class="btn btn-dark">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-pk="{% url 'delete_view' object.pk %}">
                            <i class="bi bi-trash"></i>
                        </button>
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 col-sm-2"></div>
     </div>
    <script>
        let endDate = { 'year':{{ object.end_date.year }},
            'month': {{ object.end_date.month }},
            'day': {{ object.end_date.day }}
        };
        let endTime = {
            'hour': {{ object.end_time.hour }},
            'minute': {{ object.end_time.minute }}
        };
        let daysElement = document.getElementById('daysLeft');
        let timeElement = document.getElementById('timeLeft');
        let endDateTime = new Date(endDate.year, endDate.month-1, endDate.day, endTime.hour, endTime.minute );
        {% if not object.is_date_only %}
            let countDowner = setInterval(function () {
                let now = new Date().getTime();
                let timeLeft = endDateTime - now;
                if (timeLeft < 0) {
                    document.getElementById('until').style.display = 'none';
                    document.getElementById('endTime').style.display = 'block'
                }
                else {
                    let days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
                    let hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    let minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
                    let seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
                    document.getElementById('until').style.display = 'block';
                    document.getElementById('endTime').style.display = 'none'
                    daysElement.innerHTML = `${days} days`;
                    timeElement.innerHTML = `${hours} hours ${minutes} minutes ${seconds} seconds`;
                }


            }, 1000)
        {% else %}
            let now = new Date().getTime();
            let timeLeft = endDateTime - now;
            if (timeLeft < 0) {
                    document.getElementById('until').style.display = 'none';
                    document.getElementById('endTime').style.display = 'block'
                }
            else {
                let days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
                document.getElementById('until').style.display = 'block';
                document.getElementById('endTime').style.display = 'none'
                daysElement.innerHTML = `${days} days`
            }
        {% endif %}

        function copyShareLink() {
            Bs5Utils.defaults.toasts.position = 'top-center';
            const bs5Utils = new Bs5Utils();
            navigator.clipboard.writeText(window.location.href);
            bs5Utils.Snack.show('success', 'Copied', 600, false);

        }
    </script>
{% endblock %}