{% extends "base.html" %}
{% load socialaccount %}
{% block title %}Movies{% endblock %}
{% load crispy_forms_tags %}
{% crispy movies_form movies_form.helper %}


{% block content %}
    <div class="row">
        <div class="col-lg-3 col-sm-2"></div>
        <div class="col-lg-6 col-sm-8">
            <div class="d-flex justify-content-center">
                <form method="post" id="movieForm">
                    {% csrf_token %}
                    <h3 class="text-center">Enter a Movie/Show to search for:</h3>
                    <p class="text-center mb-0">Filters: <i>leave blank to show all results</i></p>
                    <div class="btn-group-toggle col-10 mx-auto mb-3" data-toggle="buttons" style="text-align: center;">
                        {% load static %}
                        {% for value, label in form.providers.field.choices %}
                            <label class="btn btn-dark active providerContainer">
                                <input class="btn-check" type="checkbox" name="{{ form.providers.html_name }}" value="{{ value }}" id="{{ form.my_field.html_name }}_{{ forloop.counter }}" {% if value in form.providers.value %}checked{% endif %}>
                                <img src="{% static 'img/providers/'|add:value|add:'.jfif' %}" width="50px" alt="{{ label }}">
                                <p class="providerName">{{ label }}</p>
                            </label>
                        {% endfor %}
                    </div>
                    {% crispy form %}
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-sm-0"></div>
        <div class="col-lg-8 col-sm-12">
            {% if error or movies %}
                <div class="mt-4 p-md-5 p-3 bg-dark text-white rounded" style="width: 100%;">
                    {% if error %}
                        <div class="result">
                            <span>{{ error }}</span>
                        </div>
                    {% else %}
                        <h3 class="display-4">Your results for <strong class="text-capitalize">{{ form.title.value }}</strong>:</h3>
                        <div class="row">
                            {% for movie in movies %}
                                <div class="card">
                                    <div class="row mb-2">
                                        <span class="mb-1 mt-1 text-center card-title"><strong>{{ movie.title }}</strong> can be:</span>
                                        <div class="col-md-5 d-none d-md-block">
                                            <img style="max-width: 100%; height: auto;" src="{{ movie.poster }}" alt="Poster for {{ movie.title }}">
                                        </div>
                                        <div class="col-md-7 col-cs-12 col-sm-12">
                                            {% if movie.free %}
                                                <span>Watched for free at:</span>
                                                <ul>
                                                    {% for provider in movie.free %}
                                                        <li>
                                                            <span> <a href="{{ provider.url }}" target="_blank">{{ provider.name }}</a></span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            {% if movie.flatrate %}
                                                <span>Streamed with a subscription at:</span>
                                                <ul>
                                                    {% for provider in movie.flatrate %}
                                                        <li>
                                                            <span><a href="{{ provider.url }}" target="_blank">{{ provider.name }}</a></span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            {% if movie.rent %}
                                                <span>Rented at:</span>
                                                <ul>
                                                    {% for price in movie.rent %}
                                                        <li>
                                                            <span><a href="{{ price.provider.url }}" target="_blank">{{ price.provider.name }}</a> for {{ price.price }} {{ price.currency }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            {% if movie.buy %}
                                                <span>Bought at:</span>
                                                <ul>
                                                    {% for price in movie.buy %}
                                                        <li>
                                                            <span><a href="{{ price.provider.url }}" target="_blank">{{ price.provider.name }}</a> for {{ price.price }} {{ price.currency }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="col-lg-2 col-sm-0"></div>
    </div>
    {% load static %}
    <script src="{% static 'script.js' %}"></script>
{% endblock %}
