{% extends "base.html" %}
{% load socialaccount %}
{% block title %}Movies{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-4 col-sm-2"></div>
        <div class="col-lg-4 col-sm-8">
            <div class="d-flex justify-content-center">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="col-lg-4 col-sm-2"></div>
    </div>
{% endblock %}
